body {
	margin: 15px;
}
.col-1,
.col-2 {
	display: inline-block;
	width: calc(50% - 20px);
}

.col-2 {
	float: right;
}

.col-1 > textarea,
.col-2 > textarea {
	width: 100%;
	height: 80vh;
}

#output-text {
	height: 60vh;
	margin-bottom: 10px;
	background-color: rgba(239, 239, 239, 0.3);
	border-width: 1px;
	border-color: rgba(118, 118, 118, 0.3);
	border-style: solid;
	overflow: scroll;
}

.output-controls > div {
	margin-bottom: 8px;
}
